body {
  background-color: #181818;
  color: #aaaaaa;
  margin: unset;
  font-size: 12pt;
  font-family: sans-serif;
}

header {
  background-color: #282828;
  border-bottom: 3px solid black;
  padding: 0 15px;
  height: 50px;
}

main {
  padding: 0 15px;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 1.7em;
}

#logo-img {
  width: 40px;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.content-width {
  max-width: 85ch;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > a {
  font-size: 1.2em;
  padding: 0 15px;
  color: #aaaaaa;
}

nav i {
  font-size: 1.3em !important;
}

a {
  text-decoration: unset;
  color: #ac4242;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #ac4242;
  font-weight: unset;
  font-size: 2em;
  padding-top: 20px;
  margin: 20px 0;
}

li {
  list-style: square;
}

kbd {
  border: 1px solid #404040;
  background-color: #262626;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(64, 64, 64, 0.7) inset;
  font-weight: 700;
  padding: 2px 4px;
}
