#changelog-entries h2 {
  margin-bottom: unset;
  font-size: 1.3em;
}

.changelog-date {
  font-size: 0.75em;
  margin: unset;
}

.changelog-content h2 {
  margin-bottom: 0px;
}

.changelog-content ul {
  margin-top: 5px;
  line-height: 1.5em;
}

code {
  background: #262626;
}

img {
  border: 3px solid #262626;
  margin: 10px 0;
  max-width: 80%;
}

video {
  background-color: #262626;
  max-height: 50vh;
  max-width: 80%;
  margin: 10px 0;
  padding: 5px;
}
