#changelog-entries h2 {
    margin-bottom: unset;
    font-size: 1.3em;
}

.changelog-date {
    font-size: 0.75em;
    margin: unset;
}

.changelog-content h2 {
    margin-bottom: 0px;
}

.changelog-content ul {
    margin-top: 5px;
    line-height: 1.5em;
}
