p, table, h1 {
  font-family: monospace;
}

em {
  font-style: normal;
  color: #90a959;
}

strong, strong > a {
  font-weight: normal;
  color: #6a9fb5;
}

#pick-version {
  display: flex;
  align-items: center;
  float: right;
  margin: 20px 0;
}

#pick-version p {
  font-size: 1.3em;
  margin: 0 15px;
}

#pick-version select {
  font-size: 1.2em;
  color: #aaaaaa;
  padding: 5px 10px;
  background-color: #181818;
  border: 4px solid #262626;
}
