p,table,h1 {
  font-family: monospace;
}

em {
  font-style: normal;
  color: #90a959;
}

strong, strong > a {
  font-weight: normal;
  color: #6a9fb5;
}

.pick-release {
  display: flex;
  margin: 10px 0;
}

.pick-release select {
  font-size: 14pt;
  border: 4px solid #262626;
  font-size: 14pt;
  color: #aaaaaa;
  background-color: #181818;
}
